@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-bg-color: whitesmoke;
  --table-border-color: #ccc;
  --table-max-width: 1000px;
  --table-cell-padding: 20px;
  --table-margin-top: 2%;
  --media-query-breakpoint: 767px;
  --table-bg-image: url('../assets/images/bg_pagebody.webp');
}

.lokmanlogo {
  width: 55%;
  margin-top: 2%;
  max-width: 500px;  /* Or whatever max size you want */
}

.adcontainer{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.braunad{
  width: 30%;
  margin: 2%;
  outline: black solid 1.5px;
}

/* Use a media query to adjust the logo size and position on smaller screens */
@media (max-width: 768px) {
  .lokmanlogo {
    width: 100vw;
    margin-top: 4%;
  }

  .braunad{
    width: 90vw;
  }
}

/* Adjust logo size and position on even smaller screens */
@media (max-width: 480px) {
  .lokmanlogo {
    width: 100vw;
    margin-top: 5%;
  }
}


.logocontainer{
  width: 1000px;
  margin: auto;
}

body {
  background-image: url('../assets/images/bg_body.webp');
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

.table-container {
  width: 100%;
  margin-top: var(--table-margin-top);
}

table {
  width: 100%;
  max-width: var(--table-max-width);
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid var(--table-border-color);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0)), var(--table-bg-image);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

td {
  vertical-align: top;
  padding: var(--table-cell-padding);
  border: 1px solid var(--table-border-color);
}

@media (max-width: var(--media-query-breakpoint)) {
  table {
    width: 100%;
  }
}

.copyrights p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 5px;
  color: black;
}

.nixie_clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.nixie__wrapper {
  border-radius: 10px;
  margin-bottom: 10px;
}

.retroButton {
  background: #fff;
  border: 2px solid #4c3a2e;
  border-radius: 4px;
  color: #4c3a2e;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.8), 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.retroButton:hover {
  background: #f5f5f5;
  text-shadow: 1px 1px 0 #f5f5f5;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.8), 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

.retroButton-off {
  background: #4c3a2e;
  border: 2px solid #4c3a2e;
  color: #fff;
  text-shadow: 1px 1px 0 #4c3a2e;
}

.retroButton-off:hover {
  background: #705e4c;
  text-shadow: 1px 1px 0 #705e4c;
}

.dashboard{
  color: white;
}


.errorimg{
  height: 200px;
}



.AmadeusTrainingExpl{
  color: white;
  text-align: center;
}









.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    filter: none; /* remove default shadow if any */
}

.custom-carousel::before,
.custom-carousel::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%; /* adjust the width of the shadow as per your preference */
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.custom-carousel::after {
    right: 0;
    transform: scaleX(-1);
}

.carousel-control-prev {
    left: 0;
    z-index: 2;
}

.carousel-control-next {
    right: 0;
    z-index: 2;
}



.news-icons-wrapper li {
  margin-bottom: 10px; 
}

.news-icons-wrapper h1 {
  margin-bottom: 15px;
}


.project-container {
  margin-bottom: 15px;
}
