.createPostPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.inputGp,
.inputGP {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #0094ff;
}

.post h1{
  color: white;
  text-decoration: none;
}

.post h3{
  color: #a5a5a5;
  font-size: medium;
  opacity: 0.5;
}

.post p{
  color: white;
  font-size: medium;
}

.post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content button {
  margin-left: auto;
}

.post-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
}
