:root {
  --main-bg-color: rgba(255, 255, 255, 0.1);
  --main-color: #fff;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --error-color: #ff4a4a;
  --error-shadow: 0 0 0 3px rgba(255, 74, 74, 0.5);
  --primary-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: var(--main-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--main-color);
  font-size: 1rem;
  border-radius: 4px;
}

.form-control:focus {
  outline: none;
  box-shadow: var(--primary-shadow);
}

.form-control.is-invalid {
  border-color: var(--error-color);
}

.form-control.is-invalid:focus {
  box-shadow: var(--error-shadow);
}

.invalid-feedback {
  font-size: 0.875rem;
  color: var(--error-color);
  margin-top: 5px;
}

.btn {
  font-size: 1rem;
  padding: 8px 12px;
  background-color: var(--primary-color);
  border: none;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn:focus {
  outline: none;
  box-shadow: var(--primary-shadow);
}

.contactButtonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactButton{
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  border: none;
}

.contactButton:hover{
  background-color: #ff8c0083;
}



.form-group input:focus {
  border: 3px solid #ff8c00;
}

textarea#message:focus {
  border: 3px solid #ff8c00;
}