/* Define variables for the colors used in the navigation links */
:root {
    --text-color: #fff;
    --hover-color: #ff8c00;
    --shadow-color: #ff8c00;
  }
  
/* This CSS code centers the navigation links and styles them with a hover effect. */
  
/* Center the navigation links horizontally and vertically */
.nav-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
/* Invert the color of the navbar toggler icon */
.navbar-toggler-icon {
    filter: invert(1);
  }
  
/* Add margin to the navigation links */
.nav-centered .nav-link {
    margin: 0 10px;
  }
  
/* Style the navigation links with the text color variable */
.nav-centered .nav-link {
    color: var(--text-color);
  }
  
/* Override default styles for the visited state of the link */
.nav-centered .nav-link:visited {
    color: var(--text-color);
  }
  
  /* Add a hover effect to the Japanese text in the navigation links */
  .nav-centered .nav-link .japanese-text {
    transition: text-shadow 0.2s ease-in-out;
  }
  
.nav-centered .nav-link:hover .japanese-text {
    color: var(--text-color);
    text-shadow:
        0 0 10px var(--shadow-color),
        0 0 20px var(--shadow-color),
        0 0 30px var(--shadow-color),
        0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color),
        0 0 60px var(--shadow-color),
        0 0 70px var(--shadow-color),
        0 0 80px var(--shadow-color);
  }
  
/* Add a hover effect to the English text in the navigation links */
.nav-centered .nav-link .english-text {
    transition: color 0.2s ease-in-out;
  }
  
/* Override default styles for the hover state of the link */
.nav-centered .nav-link:hover {
    color: var(--hover-color);
  }
  