.ProjectIconsOnProjectsPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ProjectIconsOnProjectsPage .project-container{
    margin: 1px;
}

.projectsTitle{
    text-align: center;
}