:root {
    --main-bg-color: whitesmoke;
    --table-border-color: #ccc;
    --table-max-width: 1000px;
    --table-cell-padding: 20px;
    --table-margin-top: 10%;
    --media-query-breakpoint: 767px;
    --table-bg-image: url('./assets/images/bg_pagebody.jpg');
    /* --table-bg-image: url('./assets/images/bg_metal.jpg'); */

  }

  body{
    background-image: url('./assets/images/bg_body.jpg');
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
  
  .App {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .table-container {
    width: 100%;
    margin-top: var(--table-margin-top);
  }
  
  table {
    width: 100%;
    max-width: var(--table-max-width);
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid var(--table-border-color);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), var(--table-bg-image);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  
  /* table {
    width: 100%;
    max-width: var(--table-max-width);
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid var(--table-border-color);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), var(--table-bg-image);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  


  td {
    vertical-align: top;
    padding: var(--table-cell-padding);
    border: 1px solid var(--table-border-color);
  }
  @media screen and (max-width: var(--media-query-breakpoint)) {
    table {
      width: 100%;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  

.copyrights p{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
