
.nav-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
  
.navbar-toggler-icon {
    filter: invert(1);
  }


.nav-centered .nav-link {
margin: 0 10px;
}

.nav-centered .nav-link{
    color: white;
}

.nav-centered .nav-link .japanese-text {
  transition: text-shadow 0.2s ease-in-out;
}

.nav-centered .nav-link:hover .japanese-text {
  color: inherit;
  text-shadow:
    0 0 5px #ff6b81,
    0 0 10px #ff6b81,
    0 0 15px #ff6b81,
    0 0 20px #ff6b81,
    0 0 30px #ff6b81,
    0 0 40px #ff6b81,
    0 0 50px #ff6b81,
    0 0 75px #ff6b81;
}

.nav-centered .nav-link .english-text {
  transition: color 0.2s ease-in-out;
}

.nav-centered .nav-link:hover .english-text {
  color: #ff6b81;
}
